<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Log In</h1>
    </div>
    <%= form_for @user, url: {action: 'create'}, html: {class: 'form_log_in_user form-inline'} do |f| %>
      <div class='form-group col-sm-12'>
        <%= label_tag :email, 'Email' %>
        <%= f.email_field :email %>
        <br>
        <%= label_tag :password, 'Password' %>
        <%= f.password_field :password %>
        <br>
      </div>
      <div class='form-group col-sm-12'>
        <%= f.submit 'Log In' %>
      </div>
    <% end %>
  </div>
</div>
