<%= form_for(doctor) do |f| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.name %></td>
      <td><%= button_to 'Change to Doctor', "/doctors", method: "post", class: "btn btn-secondary", params: {user_id: patient.user_id, name: patient.name, type: "doctor"} %></td>
    </tr>
    <% end %>
    <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.name %></td>
      <td><%= button_to 'Change to Patient', "/doctors", method: "post", class: "btn btn-primary", params: {user_id: doctor.user_id, name: doctor.name, type: "patient"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
