<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @doctor.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @doctor.specialty_id %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
