<%= form_for(appointment) do |f| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :doctor %>
    <%= f.select :doctor_id, options_for_select(@doctors.collect {|x| [x.name, x.id]}) %>
  </div>

  <div class="field">
    <%= f.label :day %>
    <%= f.select :day_id, options_for_select(@days.collect {|x| [x.date, x.id]}) %>
  </div>

  <div class="field">
    <%= f.label :timeslot %>
    <%= f.select :timeslot_id, options_for_select(@timeslots.collect {|x| [x.timeslot, x.id]}) %>
  </div>

  <div class="field">
    <%= f.label :complaint %>
    <%= f.select :complaint_id, options_for_select(@complaints.collect {|x| [x.complaint, x.id]}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
