<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.name %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.day.date %>
</p>

<p>
  <strong>Timeslot:</strong>
  <%= @appointment.timeslot.timeslot %>
</p>

<p>
  <strong>Complaint:</strong>
  <%= @appointment.complaint.complaint %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
